.nav-menu{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;

}


@media screen and (max-width: 960px){
    
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 470px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        margin: 0;
        padding: 0;
    }

    .nav-menu.active{
        background-color: #5F5F5F;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index:1;
        margin: 0;
        padding: 0;
        position:absolute;
        
    }
}